body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgb(55, 100, 144);
}

header {
  position: absolute;
  width: 100%;
  height: 5rem;
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header p {
  padding-left: 2rem;
  color: #ffffff;
  font-size: 2rem;
}

/* img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
} */

.container {
  position: absolute;
  background-color: rgb(255, 255, 255, 0.95);
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5rem;
  border-radius: 5px;
  box-shadow: 5px 5px 20px 20px rgba(0, 0, 0, 0.205);
  z-index: 10;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

h2 {
  text-align: center;
}
