body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgb(55, 100, 144);
  font-family: "Yusei Magic", sans-serif;
}

header {
  position: absolute;
  width: 100%;
  height: 5rem;
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header p {
  padding-left: 2rem;
  color: #ffffff;
  font-size: 2rem;
}

.container {
  position: absolute;
  background-color: rgb(255, 255, 255, 0.95);
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5rem;
  border-radius: 5px;
  box-shadow: 5px 5px 20px 20px rgba(0, 0, 0, 0.205);
  z-index: 10;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1rem;
  text-align: center;
  padding-bottom: 5rem;
}

.input {
  text-align: center;
}

.input .inputValue {
  border: none;
  width: 50%;
  padding: 1rem;
  background-color: rgb(55, 100, 144);
  color: #ffffff;
  border-radius: 5px;
}

.input .inputValue::placeholder {
  color: #ffffff;
  font-size: 1.2rem;
  font-family: "Yusei Magic", sans-serif;
}

.input .button {
  border: 1px solid rgb(55, 100, 144);
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 5px;
  font-family: "Yusei Magic", sans-serif;
}

.display {
  margin: 2rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
